$black-main: rgba(44, 46, 63, 0.7);
$black-special: rgba(44, 46, 63, 0.3);
$black-extra: rgba(41, 54, 66, 0.1);
$black-hover: rgba(20, 21, 23, 0.6);
$black-special-2 : rgba(20, 21, 23, 0.5);
$black: #141517;
$pure-black: #000000;
$extra-black: #2c2e3f;
$pink: #fe7865;
$extra-pink: #f17d4b;
$pink-special: rgba(254, 120, 101, 0.5);
$white: #ffffff;
$white-special: rgba(251, 248, 248, 1);
$white-extra: #fbf8f8;
$grey: #d7d9df;
$grey-extra: #48494d;
$blue: #4E7B9E;
